<section id="services">
    <div class="container">
        <h3>About Us</h3>
        <div class="entry-content">
            <p>To be the leader in accounting services for small to medium size businesses in the Greater<br>
                Toronto Area through client-focused service excellence</p>
                <p>OUR VALUES<br>
                Client Focus<br>
                Credibility<br>
                Reliability</p>
                <p>After working over 20 years in financial and business organization, I was inspired to set up my<br>
                own business. The goal was to achieve financial freedom. Over the past many years I have<br>
                acquired practical working experience in the area on payroll, bookkeeping, accounting and<br>
                taxation. All Accounting Squad team members are well experienced and knowledgeable in the<br>
                accounting field. We have a great passion for our work. Our vision is to be the best accounting<br>
                service provider in the Greater Toronto Area. We want to make this possible by putting our<br>
                clients in the center of all our work.</p>
        </div>
        
    </div>
</section>