<section id="faq">
    <div class="container">
        <h3>FAQ</h3>
        <div class="entry-content">
            <p><b>1. How do I import my existing books into Accounting Squad?</b><br>
                Send your most up to date balance sheet and income statement and you’re done.<br>
            <b>2. Is there any set up cost?</b><br>
                No<br>
                <b>3. What accounting software does Accounting Squad use?</b><br>
                We have partnership with many accounting software vendors<br>
                <b>4. What level of support will I receive?</b><br>
                Audit support ( tax filing), generate payroll and management report<br>
                <b>5. Currently we are manually keeping our accounting records and want to automate this process. What level of support Accounting Squad will provide
                us to implement a computerized accounting system?</b><br>
                Our Accounting Squad team will analyze the nature &amp; structure of your business and<br>
                accounts. Based on that we will create your chart of accounts and automate your<br>
                process by using one of our cloud base accounting software.</p>
        </div>
        
    </div>
</section>
