<section id="pricing">
    <div class="container">
        <h3>Pricing</h3>
        <div class="entry-content">
<p><strong>Hourly Rate</strong>: $25.00</p>
<p><strong>Monthly rate</strong>:<br>
To be determined on the basis of work ( Minimum monthly rate is $150.00)<br>
$150.00/month, expenses below $7000.00. Prepaid yearly $125/month<br>
$180/month, expenses from $7000.00 to $20,000.00. Prepaid yearly $160/month<br>
$300/month, expenses upto $500,000.00. Prepaid yearly $270/month</p>
<p><strong>Consultation</strong>: Free</p>
        </div>
        
    </div>
</section>