<section id="services">
    <div class="container">
        <h3>Services</h3>
        <div class="entry-content">
            <ul class="feature-icons">
                <li class="fa-star">Set up new employees</li>
                <li class="fa-star">Terminate employees</li>
                <li class="fa-star">ROE and Produce T4/T4As</li>
                <li class="fa-star">Letter of Employment</li>
                <li class="fa-star">Remit Source Deductions</li>
                <li class="fa-star">Bookkeeping</li>
                <li class="fa-star">Prepare Journal Entries and GL Account</li>
                <li class="fa-star">Income Statement</li>
                <li class="fa-star">Balance Sheet</li>
                <li class="fa-star">Bank Reconciliation</li>
                <li class="fa-star">Accounts Receivable</li>
                <li class="fa-star">Accounts Payable</li>
                <li class="fa-star">Taxation</li>
                <li class="fa-star">Document Management ( Cloud base)</li>
                <li class="fa-star">Implement computerized accounting system</li>
                <li class="fa-star">Annual Payroll Return for all provinces and territories</li>

            </ul>
        </div>
        
    </div>
</section>

